<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>An Event</title>
</head>
<body>
    <h1>Events Data</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Location</th>

        </tr>
        <tr>
            <td th:text="${event.id}">1</td>
            <td th:text="${event.title}">Some Title</td>
            <td th:text="${event.description}">Some description</td>
            <td th:text="${event.location.title}">Some Location</td>
        </tr>
    </table>

</body>
</html>